@import "../../styles/colors.scss";

.character-details {
  width: 80vw;
  height: auto;
  max-height: 70vh;
  display: flex;
  align-items: center;
  overflow: break-word;
  background: $medium-grey none repeat scroll 0% 0%;
  border-radius: 0.5rem;
  margin: 100px 0;
  padding: 20px;
  box-shadow: $white 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    height: initial;
    width: auto;
    margin: 20px 0;
  }

  .character-details-image {
    border-radius: 1rem;
    margin: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: relative;
    width: 30vw;
    min-height: 220px;
    margin: 0px;
    opacity: 1;
    transition: opacity 1s ease 0s;
    object-position: center center;
    object-fit: cover;

    @media screen and (max-width: 1024px) {
      height: 300px;
      width: auto;
    }
  }

  .details-wrapper {
    list-style-type: none;
    flex: 3 1 0%;
    padding-left: 2rem;
    color: $white;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    li {
      padding-bottom: 3px;
    }

    .name {
      font-weight: bold;
      font-size: 3.5rem;
      padding-bottom: 0;
    }
    .status-species-gender,
    .location-name,
    .origin-name {
      font-size: 2rem;
      padding-bottom: 1rem;
    }
    .location,
    .episode,
    .origin {
      color: $light-grey;
      font-size: 2rem;
      padding-bottom: 0.5rem;
    }
    .episode-name {
      font-size: 1.75rem;
    }

    @media screen and (max-width: 1024px) {
      li {
        padding-bottom: 1px;
      }
  
      .name {
        font-size: 2rem;
        padding-bottom: 0;
      }
      .status-species-gender,
      .location-name,
      .origin-name {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
      }
      .location,
      .episode,
      .origin {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
      }
      .episode-name {
        font-size: 1.5rem;
      }
    }
  }

  .favourite-icon {
    position: relative;
    align-self: flex-start;
    text-align: center;
    padding: 0;

    .favourite-button {
      border: none;
      background: transparent;
      color: $white;
      font-size: 5rem;
      padding-right: 10px;
      cursor: pointer;

      &:active,
      &:focus {
        outline: none;
      }
    
      &:hover {
        color: $light-grey;
      }

      @media screen and (max-width: 1024px) {
        margin-top: 10px;
        font-size: 3rem;
      }

    }

    @media screen and (max-width: 1024px) {
      align-self: center;
    }
  }
}
