@import "./colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

$background: $dark-grey;

%centered {
  display: flex;
  min-height: 60vh;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  background: $dark-grey;
  color: $white;
  padding: 1rem;
  letter-spacing: 1px;
  min-width: 320px;

  .container {
    display: flex;
    justify-content: center;
  }
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.5rem;
}

button {
  &:active,
  &:focus {
    outline: none;
  }
}

input {
  &:active,
  &:focus {
    outline: none;
  }
}
