@import '../../styles/colors.scss';

.character-list {
  background-color: $dark-grey;
  color: $white;
}

.character-list-header {
  margin: 0;
  padding: 0.15rem;
  text-align: center;
  h3 {
    margin: 0.5rem;
  }
  p {
    color: $light-grey;
  }
}

.character-list-results {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1920px;
}

